.slick-initialized {
  overflow: visible;
  margin-bottom: 42px;
}

.slick-initialized .slick-prev:before,
.slick-initialized .slick-pause:before,
.slick-initialized .slick-next:before {
  font-size: 24px;
  color: black;
  line-height: 1;
  opacity: .75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-initialized .slick-prev:before {
  font-family: 'fontello';
  content: '\e918';
}

.slick-initialized .slick-pause[data-autoplay="true"]:before {
  font-family: 'fontello';
  content: '\e915';
}

.slick-initialized .slick-pause[data-autoplay="false"]:before {
  font-family: 'fontello';
  content: '\e913';
}

.slick-initialized .slick-next:before {
  font-family: 'fontello';
  content: '\e917';
}

.slick-initialized .slick-prev,
.slick-initialized .slick-next {
  top: unset;
  bottom: -50px;
}

.slick-initialized .slick-prev {
  left: 0;
}

.slick-initialized .slick-pause {
  display: block;
  bottom: -50px;
  top: unset;
  left: 32px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-initialized .slick-next {
  left: 64px;
}

@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?98406007');
  src: url('./font/fontello.eot?98406007#iefix') format('embedded-opentype'),
       url('./font/fontello.woff?98406007') format('woff'),
       url('./font/fontello.ttf?98406007') format('truetype'),
       url('./font/fontello.svg?98406007#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('./font/fontello.svg?98406007#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-uniF100:before { content: '\e872'; } /* '' */
.icon-ok-1:before { content: '\e927'; } /* '' */
.icon-uniF102:before { content: '\e874'; } /* '' */
.icon-uniF104:before { content: '\e876'; } /* '' */
.icon-uniF105:before { content: '\e878'; } /* '' */
.icon-uniF106:before { content: '\e881'; } /* '' */
.icon-uniF107:before { content: '\e8a7'; } /* '' */
.icon-uniF108:before { content: '\e8a8'; } /* '' */
.icon-uniF109:before { content: '\e8b5'; } /* '' */
.icon-uniF10A:before { content: '\e8cf'; } /* '' */
.icon-uniF10B:before { content: '\e91b'; } /* '' */
.icon-uniF10D:before { content: '\e928'; } /* '' */
.icon-uniF10E:before { content: '\e929'; } /* '' */
.icon-uniF110:before { content: '\e92b'; } /* '' */
.icon-uniF111:before { content: '\e92c'; } /* '' */
.icon-uniF112:before { content: '\e92d'; } /* '' */
.icon-uniF114:before { content: '\e92f'; } /* '' */
.icon-uniF115:before { content: '\e930'; } /* '' */
.icon-uniF116:before { content: '\e931'; } /* '' */
.icon-uniF117:before { content: '\e932'; } /* '' */
.icon-uniF118:before { content: '\e933'; } /* '' */
.icon-uniF119:before { content: '\e934'; } /* '' */
.icon-uniF11A:before { content: '\e935'; } /* '' */
.icon-uniF11B:before { content: '\e936'; } /* '' */
.icon-uniF11C:before { content: '\e937'; } /* '' */
.icon-uniF11D:before { content: '\e938'; } /* '' */
.icon-uniF11E:before { content: '\e939'; } /* '' */
.icon-uniF11F:before { content: '\e93a'; } /* '' */
.icon-uniF120:before { content: '\e93b'; } /* '' */
.icon-uniF121:before { content: '\e93c'; } /* '' */
.icon-uniF122:before { content: '\e93d'; } /* '' */
.icon-uniF123:before { content: '\e93e'; } /* '' */
.icon-uniF124:before { content: '\e93f'; } /* '' */
.icon-uniF125:before { content: '\e940'; } /* '' */
.icon-uniF126:before { content: '\e941'; } /* '' */
.icon-uniF128:before { content: '\e943'; } /* '' */
.icon-uniF129:before { content: '\e944'; } /* '' */
.icon-uniF12A:before { content: '\e945'; } /* '' */
.icon-uniF12B:before { content: '\e946'; } /* '' */
.icon-uniF12C:before { content: '\e947'; } /* '' */
.icon-uniF12D:before { content: '\e948'; } /* '' */
.icon-uniF12E:before { content: '\e949'; } /* '' */
.icon-uniF12F:before { content: '\e94a'; } /* '' */
.icon-uniF130:before { content: '\e94b'; } /* '' */
.icon-uniF131:before { content: '\e94c'; } /* '' */
.icon-uniF132:before { content: '\e94d'; } /* '' */
.icon-uniF133:before { content: '\e94e'; } /* '' */
.icon-uniF135:before { content: '\e950'; } /* '' */
.icon-uniF136:before { content: '\e951'; } /* '' */
.icon-uniF137:before { content: '\e952'; } /* '' */
.icon-uniF138:before { content: '\e953'; } /* '' */
.icon-uniF139:before { content: '\e954'; } /* '' */
.icon-uniF13A:before { content: '\e955'; } /* '' */
.icon-uniF13B:before { content: '\e956'; } /* '' */
.icon-uniF13C:before { content: '\e957'; } /* '' */
.icon-uniF13D:before { content: '\e958'; } /* '' */
.icon-uniF13E:before { content: '\e959'; } /* '' */
.icon-uniF13F:before { content: '\e95a'; } /* '' */
.icon-uniF140:before { content: '\e95b'; } /* '' */
.icon-uniF141:before { content: '\e95c'; } /* '' */
.icon-uniF142:before { content: '\e95d'; } /* '' */
.icon-uniF144:before { content: '\e95f'; } /* '' */
.icon-uniF145:before { content: '\e960'; } /* '' */
.icon-uniF146:before { content: '\e961'; } /* '' */
.icon-uniF147:before { content: '\e962'; } /* '' */
.icon-uniF148:before { content: '\e963'; } /* '' */
.icon-uniF149:before { content: '\e964'; } /* '' */
.icon-uniF14A:before { content: '\e965'; } /* '' */
.icon-uniF14B:before { content: '\e966'; } /* '' */
.icon-uniF14C:before { content: '\e967'; } /* '' */
.icon-uniF14E:before { content: '\e969'; } /* '' */
.icon-uniF14F:before { content: '\e96a'; } /* '' */
.icon-uniF151:before { content: '\e96c'; } /* '' */
.icon-uniF152:before { content: '\e96d'; } /* '' */
.icon-uniF153:before { content: '\e96e'; } /* '' */
.icon-uniF154:before { content: '\e96f'; } /* '' */
.icon-uniF155:before { content: '\e970'; } /* '' */
.icon-uniF156:before { content: '\e971'; } /* '' */
.icon-uniF157:before { content: '\e972'; } /* '' */
.icon-uniF15A:before { content: '\e975'; } /* '' */
.icon-uniF15B:before { content: '\e976'; } /* '' */
.icon-uniF15C:before { content: '\e977'; } /* '' */
.icon-uniF15D:before { content: '\e978'; } /* '' */
.icon-uniF15E:before { content: '\e979'; } /* '' */
.icon-uniF15F:before { content: '\e97a'; } /* '' */
.icon-uniF160:before { content: '\e97b'; } /* '' */
.icon-uniF161:before { content: '\e97c'; } /* '' */
.icon-uniF162:before { content: '\e97d'; } /* '' */
.icon-uniF163:before { content: '\e97e'; } /* '' */
.icon-uniF164:before { content: '\e97f'; } /* '' */
.icon-uniF165:before { content: '\e980'; } /* '' */
.icon-uniF166:before { content: '\e981'; } /* '' */
.icon-uniF167:before { content: '\e982'; } /* '' */
.icon-uniF169:before { content: '\e984'; } /* '' */
.icon-uniF16B:before { content: '\e986'; } /* '' */
.icon-uniF16D:before { content: '\e988'; } /* '' */
.icon-uniF16E:before { content: '\e989'; } /* '' */
.icon-uniF16F:before { content: '\e98a'; } /* '' */
.icon-uniF170:before { content: '\e98b'; } /* '' */
.icon-uniF172:before { content: '\e98d'; } /* '' */
.icon-uniF173:before { content: '\e98e'; } /* '' */
.icon-uniF174:before { content: '\e98f'; } /* '' */
.icon-uniF176:before { content: '\e991'; } /* '' */
.icon-uniF177:before { content: '\e992'; } /* '' */
.icon-uniF178:before { content: '\e993'; } /* '' */
.icon-uniF179:before { content: '\e994'; } /* '' */
.icon-uniF17A:before { content: '\e995'; } /* '' */
.icon-uniF17C:before { content: '\e997'; } /* '' */
.icon-uniF17D:before { content: '\e998'; } /* '' */
.icon-uniF17E:before { content: '\e999'; } /* '' */
.icon-uniF17F:before { content: '\e99a'; } /* '' */
.icon-uniF182:before { content: '\e99d'; } /* '' */
.icon-uniF183:before { content: '\e99e'; } /* '' */
.icon-uniF184:before { content: '\e99f'; } /* '' */
.icon-uniF185:before { content: '\e9a0'; } /* '' */
.icon-uniF186:before { content: '\e9a1'; } /* '' */
.icon-uniF187:before { content: '\e9a2'; } /* '' */
.icon-uniF189:before { content: '\e9a4'; } /* '' */
.icon-uniF18A:before { content: '\e9a5'; } /* '' */
.icon-uniF18B:before { content: '\e9a6'; } /* '' */
.icon-uniF18C:before { content: '\e9a7'; } /* '' */
.icon-uniF18D:before { content: '\e9a8'; } /* '' */
.icon-uniF18E:before { content: '\e9a9'; } /* '' */
.icon-uniF18F:before { content: '\e9aa'; } /* '' */
.icon-uniF190:before { content: '\e9ab'; } /* '' */
.icon-uniF191:before { content: '\e9ac'; } /* '' */
.icon-uniF192:before { content: '\e9ad'; } /* '' */
.icon-uniF193:before { content: '\e9ae'; } /* '' */
.icon-uniF194:before { content: '\e9af'; } /* '' */
.icon-uniF195:before { content: '\e9b0'; } /* '' */
.icon-uniF196:before { content: '\e9b1'; } /* '' */
.icon-uniF197:before { content: '\e9b2'; } /* '' */
.icon-uniF198:before { content: '\e9b3'; } /* '' */
.icon-uniF199:before { content: '\e9b4'; } /* '' */
.icon-uniF19A:before { content: '\e9b5'; } /* '' */
.icon-uniF19B:before { content: '\e9b6'; } /* '' */
.icon-uniF19C:before { content: '\e9b7'; } /* '' */
.icon-uniF19D:before { content: '\e9b8'; } /* '' */
.icon-uniF19E:before { content: '\e9b9'; } /* '' */
.icon-uniF19F:before { content: '\e9ba'; } /* '' */
.icon-uniF1A0:before { content: '\e9bb'; } /* '' */
.icon-uniF1A1:before { content: '\e9bc'; } /* '' */
.icon-uniF1A2:before { content: '\e9bd'; } /* '' */
.icon-uniF1A3:before { content: '\e9be'; } /* '' */
.icon-uniF1A4:before { content: '\e9bf'; } /* '' */
.icon-uniF1A5:before { content: '\e9c0'; } /* '' */
.icon-uniF1A6:before { content: '\e9c1'; } /* '' */
.icon-uniF1A7:before { content: '\e9c2'; } /* '' */
.icon-uniF1A8:before { content: '\e9c3'; } /* '' */
.icon-uniF1AA:before { content: '\e9c5'; } /* '' */
.icon-uniF1AB:before { content: '\e9c6'; } /* '' */
.icon-uniF1AC:before { content: '\e9c7'; } /* '' */
.icon-uniF1AD:before { content: '\e9c8'; } /* '' */
.icon-uniF1AF:before { content: '\e9ca'; } /* '' */
.icon-uniF1B0:before { content: '\e9cb'; } /* '' */
.icon-uniF1B2:before { content: '\e9cd'; } /* '' */
.icon-uniF1B3:before { content: '\e9ce'; } /* '' */
.icon-uniF1B4:before { content: '\e9cf'; } /* '' */
.icon-uniF1B5:before { content: '\e9d0'; } /* '' */
.icon-uniF1B6:before { content: '\e9d1'; } /* '' */
.icon-uniF1B7:before { content: '\e9d2'; } /* '' */
.icon-uniF1B8:before { content: '\e9d3'; } /* '' */
.icon-uniF1B9:before { content: '\e9d4'; } /* '' */
.icon-uniF1BB:before { content: '\e9d6'; } /* '' */
.icon-uniF1BD:before { content: '\e9d8'; } /* '' */
.icon-uniF1BE:before { content: '\e9d9'; } /* '' */
.icon-uniF1BF:before { content: '\e9da'; } /* '' */
.icon-uniF1C0:before { content: '\e9db'; } /* '' */
.icon-uniF1C1:before { content: '\e9dc'; } /* '' */
.icon-uniF1C2:before { content: '\e9dd'; } /* '' */
.icon-uniF1C3:before { content: '\e9de'; } /* '' */
.icon-uniF1C4:before { content: '\e9df'; } /* '' */
.icon-uniF1C5:before { content: '\e9e0'; } /* '' */
.icon-uniF1C6:before { content: '\e9e1'; } /* '' */
.icon-uniF1C9:before { content: '\e9e4'; } /* '' */
.icon-uniF1CA:before { content: '\e9e5'; } /* '' */
.icon-uniF1CB:before { content: '\e9e6'; } /* '' */
.icon-uniF1CC:before { content: '\e9e7'; } /* '' */
.icon-uniF1CD:before { content: '\e9e8'; } /* '' */
.icon-uniF1CE:before { content: '\e9e9'; } /* '' */
.icon-uniF1CF:before { content: '\e9ea'; } /* '' */
.icon-uniF1D0:before { content: '\e9eb'; } /* '' */
.icon-uniF1D1:before { content: '\e9ec'; } /* '' */
.icon-uniF1D2:before { content: '\e9ed'; } /* '' */
.icon-uniF1D3:before { content: '\e9ee'; } /* '' */
.icon-uniF1D4:before { content: '\e9ef'; } /* '' */
.icon-uniF1D6:before { content: '\e9f1'; } /* '' */
.icon-uniF1D7:before { content: '\e9f2'; } /* '' */
.icon-uniF1D8:before { content: '\e9f3'; } /* '' */
.icon-uniF1D9:before { content: '\e9f4'; } /* '' */
.icon-uniF1DB:before { content: '\e9f6'; } /* '' */
.icon-uniF1DD:before { content: '\e9f8'; } /* '' */
.icon-uniF1DE:before { content: '\e9f9'; } /* '' */
.icon-uniF1DF:before { content: '\e9fa'; } /* '' */
.icon-uniF1E0:before { content: '\e9fb'; } /* '' */
.icon-uniF1E1:before { content: '\e9fc'; } /* '' */
.icon-uniF1E2:before { content: '\e9fd'; } /* '' */
.icon-uniF1E3:before { content: '\e9fe'; } /* '' */
.icon-uniF1E4:before { content: '\e9ff'; } /* '' */
.icon-uniF1E5:before { content: '\ea00'; } /* '' */
.icon-uniF1E7:before { content: '\ea02'; } /* '' */
.icon-uniF1E8:before { content: '\ea03'; } /* '' */
.icon-uniF1EA:before { content: '\ea05'; } /* '' */
.icon-uniF1EB:before { content: '\ea06'; } /* '' */
.icon-uniF1EC:before { content: '\ea07'; } /* '' */
.icon-uniF1EE:before { content: '\ea09'; } /* '' */
.icon-uniF1EF:before { content: '\ea0a'; } /* '' */
.icon-uniF1F1:before { content: '\ea0c'; } /* '' */
.icon-uniF1F2:before { content: '\ea0d'; } /* '' */
.icon-uniF1F3:before { content: '\ea0e'; } /* '' */
.icon-uniF1F4:before { content: '\e925'; } /* '' */
.icon-uniF1F5:before { content: '\ea10'; } /* '' */
.icon-uniF1F6:before { content: '\ea11'; } /* '' */
.icon-uniF1F7:before { content: '\ea12'; } /* '' */
.icon-uniF1F8:before { content: '\ea13'; } /* '' */
.icon-uniF1F9:before { content: '\ea14'; } /* '' */
.icon-uniF1FB:before { content: '\ea16'; } /* '' */
.icon-uniF1FC:before { content: '\ea17'; } /* '' */
.icon-uniF1FD:before { content: '\ea18'; } /* '' */
.icon-uniF1FE:before { content: '\ea19'; } /* '' */
.icon-uniF1FF:before { content: '\ea1a'; } /* '' */
.icon-uniF200:before { content: '\ea1b'; } /* '' */
.icon-uniF201:before { content: '\ea1c'; } /* '' */
.icon-uniF202:before { content: '\ea1d'; } /* '' */
.icon-uniF203:before { content: '\ea1e'; } /* '' */
.icon-glass:before { content: '\ea25'; } /* '' */
.icon-star:before { content: '\e885'; } /* '' */
.icon-star-empty:before { content: '\e884'; } /* '' */
.icon-star-half-alt:before { content: '\e922'; } /* '' */
.icon-male:before { content: '\e926'; } /* '' */
.icon-female:before { content: '\e87b'; } /* '' */
.icon-download-cloud:before { content: '\ea27'; } /* '' */
.icon-fax:before { content: '\e8dd'; } /* '' */
.icon-comment-empty:before { content: '\ea1f'; } /* '' */
.icon-doc-text-inv-1:before { content: '\ea28'; } /* '' */
.icon-cog-alt:before { content: '\ea29'; } /* '' */
.icon-angle-left:before { content: '\e86b'; } /* '' */
.icon-angle-right:before { content: '\e86d'; } /* '' */
.icon-angle-double-left:before { content: '\e86a'; } /* '' */
.icon-angle-double-right:before { content: '\e869'; } /* '' */
.icon-desktop-1:before { content: '\ea20'; } /* '' */
.icon-laptop-1:before { content: '\ea21'; } /* '' */
.icon-tablet-1:before { content: '\ea22'; } /* '' */
.icon-mobile-2:before { content: '\ea23'; } /* '' */
.icon-umbrella:before { content: '\e877'; } /* '' */
.icon-scissors:before { content: '\ea2b'; } /* '' */
.icon-circle:before { content: '\e91d'; } /* '' */
.icon-circle-empty:before { content: '\e91c'; } /* '' */
.icon-chart-bar-1:before { content: '\ea2c'; } /* '' */
.icon-megaphone:before { content: '\e86f'; } /* '' */
.icon-truck:before { content: '\ea24'; } /* '' */
.icon-money:before { content: '\e87a'; } /* '' */
.icon-company:before { content: '\e87e'; } /* '' */
.icon-extinguisher:before { content: '\ea2a'; } /* '' */
.icon-wheelchair:before { content: '\e879'; } /* '' */
.icon-apple:before { content: '\ea26'; } /* '' */
.icon-gplus:before { content: '\e84d'; } /* '' */
.icon-note:before { content: '\e87c'; } /* '' */
.icon-note-beamed:before { content: '\e87d'; } /* '' */
.icon-search:before { content: '\e87f'; } /* '' */
.icon-flashlight:before { content: '\e880'; } /* '' */
.icon-uniF101:before { content: '\e873'; } /* '' */
.icon-heart-empty:before { content: '\e883'; } /* '' */
.icon-user:before { content: '\e886'; } /* '' */
.icon-users:before { content: '\e887'; } /* '' */
.icon-user-add:before { content: '\e888'; } /* '' */
.icon-video:before { content: '\e889'; } /* '' */
.icon-picture:before { content: '\e88a'; } /* '' */
.icon-camera:before { content: '\e88b'; } /* '' */
.icon-layout:before { content: '\e88c'; } /* '' */
.icon-menu:before { content: '\e88d'; } /* '' */
.icon-check:before { content: '\e88e'; } /* '' */
.icon-cancel:before { content: '\e88f'; } /* '' */
.icon-cancel-circled:before { content: '\e890'; } /* '' */
.icon-cancel-squared:before { content: '\e891'; } /* '' */
.icon-plus:before { content: '\e892'; } /* '' */
.icon-plus-circled:before { content: '\e893'; } /* '' */
.icon-plus-squared:before { content: '\e894'; } /* '' */
.icon-minus:before { content: '\e895'; } /* '' */
.icon-minus-circled:before { content: '\e896'; } /* '' */
.icon-minus-squared:before { content: '\e897'; } /* '' */
.icon-help:before { content: '\e898'; } /* '' */
.icon-help-circled:before { content: '\e899'; } /* '' */
.icon-info:before { content: '\e89a'; } /* '' */
.icon-info-circled:before { content: '\e89b'; } /* '' */
.icon-back:before { content: '\e89c'; } /* '' */
.icon-home:before { content: '\e89d'; } /* '' */
.icon-link:before { content: '\e89e'; } /* '' */
.icon-attach:before { content: '\e89f'; } /* '' */
.icon-lock:before { content: '\e8a0'; } /* '' */
.icon-lock-open:before { content: '\e8a1'; } /* '' */
.icon-eye:before { content: '\e8a2'; } /* '' */
.icon-tag:before { content: '\e8a3'; } /* '' */
.icon-bookmark:before { content: '\e8a4'; } /* '' */
.icon-bookmarks:before { content: '\e8a5'; } /* '' */
.icon-flag:before { content: '\e8a6'; } /* '' */
.icon-download:before { content: '\e8a9'; } /* '' */
.icon-upload:before { content: '\e8aa'; } /* '' */
.icon-upload-cloud:before { content: '\e8ab'; } /* '' */
.icon-reply:before { content: '\e8ac'; } /* '' */
.icon-reply-all:before { content: '\e8ad'; } /* '' */
.icon-forward:before { content: '\e8ae'; } /* '' */
.icon-quote:before { content: '\e8af'; } /* '' */
.icon-code:before { content: '\e8b0'; } /* '' */
.icon-export:before { content: '\e8b1'; } /* '' */
.icon-pencil:before { content: '\e8b2'; } /* '' */
.icon-feather:before { content: '\e8b3'; } /* '' */
.icon-print:before { content: '\e8b4'; } /* '' */
.icon-keyboard:before { content: '\e8b6'; } /* '' */
.icon-comment:before { content: '\e8b7'; } /* '' */
.icon-chat:before { content: '\e8b8'; } /* '' */
.icon-bell:before { content: '\e8b9'; } /* '' */
.icon-attention:before { content: '\e8ba'; } /* '' */
.icon-alert:before { content: '\e8bb'; } /* '' */
.icon-vcard:before { content: '\e8bc'; } /* '' */
.icon-address:before { content: '\e8bd'; } /* '' */
.icon-location:before { content: '\e8be'; } /* '' */
.icon-map:before { content: '\e8bf'; } /* '' */
.icon-direction:before { content: '\e8c0'; } /* '' */
.icon-compass:before { content: '\e8c1'; } /* '' */
.icon-cup:before { content: '\e8c2'; } /* '' */
.icon-trash:before { content: '\e8c3'; } /* '' */
.icon-doc:before { content: '\e8c4'; } /* '' */
.icon-docs:before { content: '\e8c5'; } /* '' */
.icon-doc-landscape:before { content: '\e8c6'; } /* '' */
.icon-doc-text:before { content: '\e8c7'; } /* '' */
.icon-doc-text-inv:before { content: '\e8c8'; } /* '' */
.icon-newspaper:before { content: '\e8c9'; } /* '' */
.icon-book-open:before { content: '\e8ca'; } /* '' */
.icon-book:before { content: '\e8cb'; } /* '' */
.icon-folder:before { content: '\e8cc'; } /* '' */
.icon-archive:before { content: '\e8cd'; } /* '' */
.icon-box:before { content: '\e8ce'; } /* '' */
.icon-phone:before { content: '\e8d0'; } /* '' */
.icon-cog:before { content: '\e8d1'; } /* '' */
.icon-tools:before { content: '\e8d2'; } /* '' */
.icon-share:before { content: '\e8d3'; } /* '' */
.icon-shareable:before { content: '\e8d4'; } /* '' */
.icon-basket:before { content: '\e8d5'; } /* '' */
.icon-bag:before { content: '\e8d6'; } /* '' */
.icon-calendar:before { content: '\e8d7'; } /* '' */
.icon-login:before { content: '\e8d8'; } /* '' */
.icon-logout:before { content: '\e8d9'; } /* '' */
.icon-mic:before { content: '\e8da'; } /* '' */
.icon-clock:before { content: '\e8de'; } /* '' */
.icon-hourglass:before { content: '\e8df'; } /* '' */
.icon-lamp:before { content: '\e8e0'; } /* '' */
.icon-light-down:before { content: '\e8e1'; } /* '' */
.icon-light-up:before { content: '\e8e2'; } /* '' */
.icon-adjust:before { content: '\e8e3'; } /* '' */
.icon-block:before { content: '\e8e4'; } /* '' */
.icon-resize-full:before { content: '\e8e5'; } /* '' */
.icon-resize-small:before { content: '\e8e6'; } /* '' */
.icon-popup:before { content: '\e8e7'; } /* '' */
.icon-publish:before { content: '\e8e8'; } /* '' */
.icon-window:before { content: '\e8e9'; } /* '' */
.icon-arrow-combo:before { content: '\e8ea'; } /* '' */
.icon-down-circled:before { content: '\e8eb'; } /* '' */
.icon-left-circled:before { content: '\e8ec'; } /* '' */
.icon-right-circled:before { content: '\e8ed'; } /* '' */
.icon-up-circled:before { content: '\e8ee'; } /* '' */
.icon-down-open:before { content: '\e8ef'; } /* '' */
.icon-left-open:before { content: '\e8f0'; } /* '' */
.icon-right-open:before { content: '\e8f1'; } /* '' */
.icon-up-open:before { content: '\e8f2'; } /* '' */
.icon-down-open-mini:before { content: '\e8f3'; } /* '' */
.icon-left-open-mini:before { content: '\e8f4'; } /* '' */
.icon-right-open-mini:before { content: '\e8f5'; } /* '' */
.icon-up-open-mini:before { content: '\e8f6'; } /* '' */
.icon-down-open-big:before { content: '\e8f7'; } /* '' */
.icon-left-open-big:before { content: '\e8f8'; } /* '' */
.icon-right-open-big:before { content: '\e8f9'; } /* '' */
.icon-up-open-big:before { content: '\e8fa'; } /* '' */
.icon-down:before { content: '\e8fb'; } /* '' */
.icon-left:before { content: '\e8fc'; } /* '' */
.icon-right:before { content: '\e8fd'; } /* '' */
.icon-up:before { content: '\e8fe'; } /* '' */
.icon-down-dir:before { content: '\e8ff'; } /* '' */
.icon-left-dir:before { content: '\e900'; } /* '' */
.icon-right-dir:before { content: '\e901'; } /* '' */
.icon-up-dir:before { content: '\e902'; } /* '' */
.icon-down-bold:before { content: '\e903'; } /* '' */
.icon-left-bold:before { content: '\e904'; } /* '' */
.icon-right-bold:before { content: '\e905'; } /* '' */
.icon-up-bold:before { content: '\e906'; } /* '' */
.icon-down-thin:before { content: '\e907'; } /* '' */
.icon-left-thin:before { content: '\e908'; } /* '' */
.icon-right-thin:before { content: '\e909'; } /* '' */
.icon-up-thin:before { content: '\e90a'; } /* '' */
.icon-ccw:before { content: '\e90b'; } /* '' */
.icon-cw:before { content: '\e90c'; } /* '' */
.icon-arrows-ccw:before { content: '\e90d'; } /* '' */
.icon-level-down:before { content: '\e90e'; } /* '' */
.icon-level-up:before { content: '\e90f'; } /* '' */
.icon-shuffle:before { content: '\e910'; } /* '' */
.icon-loop:before { content: '\e911'; } /* '' */
.icon-switch:before { content: '\e912'; } /* '' */
.icon-play:before { content: '\e913'; } /* '' */
.icon-stop:before { content: '\e914'; } /* '' */
.icon-pause:before { content: '\e915'; } /* '' */
.icon-record:before { content: '\e916'; } /* '' */
.icon-to-end:before { content: '\e917'; } /* '' */
.icon-to-start:before { content: '\e918'; } /* '' */
.icon-fast-forward:before { content: '\e919'; } /* '' */
.icon-fast-backward:before { content: '\e91a'; } /* '' */
.icon-target:before { content: '\e803'; } /* '' */
.icon-palette:before { content: '\e804'; } /* '' */
.icon-list:before { content: '\e805'; } /* '' */
.icon-list-add:before { content: '\e806'; } /* '' */
.icon-signal:before { content: '\e807'; } /* '' */
.icon-trophy:before { content: '\e808'; } /* '' */
.icon-battery:before { content: '\e809'; } /* '' */
.icon-back-in-time:before { content: '\e80a'; } /* '' */
.icon-monitor:before { content: '\e80b'; } /* '' */
.icon-mobile-1:before { content: '\e80c'; } /* '' */
.icon-network:before { content: '\e80d'; } /* '' */
.icon-cd:before { content: '\e80e'; } /* '' */
.icon-inbox:before { content: '\e80f'; } /* '' */
.icon-install:before { content: '\e810'; } /* '' */
.icon-globe:before { content: '\e811'; } /* '' */
.icon-cloud:before { content: '\e812'; } /* '' */
.icon-cloud-thunder:before { content: '\e813'; } /* '' */
.icon-flash:before { content: '\e814'; } /* '' */
.icon-moon:before { content: '\e815'; } /* '' */
.icon-flight:before { content: '\e816'; } /* '' */
.icon-paper-plane:before { content: '\e817'; } /* '' */
.icon-leaf:before { content: '\e818'; } /* '' */
.icon-lifebuoy:before { content: '\e819'; } /* '' */
.icon-mouse:before { content: '\e81a'; } /* '' */
.icon-briefcase:before { content: '\e81b'; } /* '' */
.icon-suitcase:before { content: '\e81c'; } /* '' */
.icon-dot:before { content: '\e81d'; } /* '' */
.icon-dot-2:before { content: '\e800'; } /* '' */
.icon-dot-3:before { content: '\e81f'; } /* '' */
.icon-brush:before { content: '\e820'; } /* '' */
.icon-magnet:before { content: '\e821'; } /* '' */
.icon-infinity:before { content: '\e822'; } /* '' */
.icon-erase:before { content: '\e823'; } /* '' */
.icon-chart-pie:before { content: '\e824'; } /* '' */
.icon-chart-line:before { content: '\e825'; } /* '' */
.icon-chart-bar:before { content: '\e826'; } /* '' */
.icon-chart-area:before { content: '\e827'; } /* '' */
.icon-graduation-cap:before { content: '\e829'; } /* '' */
.icon-language:before { content: '\e82a'; } /* '' */
.icon-ticket:before { content: '\e82b'; } /* '' */
.icon-water:before { content: '\e82c'; } /* '' */
.icon-droplet:before { content: '\e82d'; } /* '' */
.icon-air:before { content: '\e82e'; } /* '' */
.icon-credit-card:before { content: '\e82f'; } /* '' */
.icon-floppy:before { content: '\e830'; } /* '' */
.icon-clipboard:before { content: '\e831'; } /* '' */
.icon-database:before { content: '\e833'; } /* '' */
.icon-drive:before { content: '\e834'; } /* '' */
.icon-bucket:before { content: '\e835'; } /* '' */
.icon-thermometer:before { content: '\e836'; } /* '' */
.icon-key:before { content: '\e837'; } /* '' */
.icon-flow-cascade:before { content: '\e838'; } /* '' */
.icon-flow-branch:before { content: '\e839'; } /* '' */
.icon-flow-tree:before { content: '\e83a'; } /* '' */
.icon-flow-line:before { content: '\e83b'; } /* '' */
.icon-flow-parallel:before { content: '\e83c'; } /* '' */
.icon-rocket:before { content: '\e83d'; } /* '' */
.icon-gauge:before { content: '\e83e'; } /* '' */
.icon-traffic-cone:before { content: '\e83f'; } /* '' */
.icon-cc:before { content: '\e840'; } /* '' */
.icon-cc-by:before { content: '\e841'; } /* '' */
.icon-cc-nc:before { content: '\e842'; } /* '' */
.icon-cc-nc-eu:before { content: '\e843'; } /* '' */
.icon-cc-nc-jp:before { content: '\e844'; } /* '' */
.icon-cc-sa:before { content: '\e845'; } /* '' */
.icon-cc-nd:before { content: '\e846'; } /* '' */
.icon-cc-pd:before { content: '\e847'; } /* '' */
.icon-cc-zero:before { content: '\e848'; } /* '' */
.icon-cc-share:before { content: '\e849'; } /* '' */
.icon-cc-remix:before { content: '\e84a'; } /* '' */
.icon-instagram:before { content: '\e85d'; } /* '' */
.icon-behance:before { content: '\e85b'; } /* '' */
.icon-pin:before { content: '\e871'; } /* '' */
.icon-thumbs-up:before { content: '\e91e'; } /* '' */
.icon-thumbs-down:before { content: '\e91f'; } /* '' */
.icon-download-outline:before { content: '\e920'; } /* '' */
.icon-upload-outline:before { content: '\e921'; } /* '' */
.icon-laptop:before { content: '\e924'; } /* '' */
.icon-tablet:before { content: '\e923'; } /* '' */
.icon-cloud-sun:before { content: '\e86c'; } /* '' */
.icon-coffee:before { content: '\e870'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e875'; } /* '' */
.icon-left-1:before { content: '\e84c'; } /* '' */
.icon-right-1:before { content: '\e832'; } /* '' */
.icon-delicious:before { content: '\e851'; } /* '' */
.icon-paypal:before { content: '\e864'; } /* '' */
.icon-stumbleupon:before { content: '\e85a'; } /* '' */
.icon-pinterest:before { content: '\e857'; } /* '' */
.icon-w3c:before { content: '\e863'; } /* '' */
.icon-html5:before { content: '\e862'; } /* '' */
.icon-call:before { content: '\e865'; } /* '' */
.icon-forrst:before { content: '\e853'; } /* '' */
.icon-dribbble:before { content: '\e84e'; } /* '' */
.icon-flickr:before { content: '\e852'; } /* '' */
.icon-linkedin:before { content: '\e855'; } /* '' */
.icon-rss:before { content: '\e850'; } /* '' */
.icon-skype:before { content: '\e859'; } /* '' */
.icon-youtube:before { content: '\e84f'; } /* '' */
.icon-vimeo:before { content: '\e81e'; } /* '' */
.icon-email:before { content: '\e828'; } /* '' */
.icon-dropbox:before { content: '\e85f'; } /* '' */
.icon-github:before { content: '\e85c'; } /* '' */
.icon-github-circled:before { content: '\e85e'; } /* '' */
.icon-lastfm:before { content: '\e854'; } /* '' */
.icon-tumblr:before { content: '\e856'; } /* '' */
.icon-wordpress:before { content: '\e861'; } /* '' */
.icon-cart:before { content: '\e868'; } /* '' */
.icon-drupal:before { content: '\e860'; } /* '' */
.icon-buffer:before { content: '\e867'; } /* '' */
.icon-stackoverflow:before { content: '\e866'; } /* '' */
.icon-index:before { content: '\e84b'; } /* '' */
.icon-volume-off-1:before { content: '\e8dc'; } /* '' */
.icon-volume:before { content: '\e8db'; } /* '' */
.icon-asl:before { content: '\e86e'; } /* '' */
.icon-deviantart:before { content: '\e858'; } /* '' */
.icon-heart:before { content: '\e882'; } /* '' */
